<!-- views/discussions/show.ejs -->
<main class="user-profile">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="pt-5">
      <header class="border-0 pb-3">
        <a href="/discussions" class="btn btn-outline-secondary"
          >← Back to Discussions</a
        >
        <h1 class="center pt-3"><%= discussion.title %></h1>

        <% if (loggedIn) { %>
        <small>
          <a href="/discussions/<%= discussion._id %>/edit">✏️ Edit</a>
          <a
            href="/discussions/<%= discussion._id %>/delete?_method=DELETE"
            onclick="return confirm('Are you sure you want to delete this record?')"
            >🗑️ Delete</a
          >
        </small>
        <% } %>
      </header>

      <div class="description">
        <p><%= discussion.description %></p>
      </div>

      <% if (discussion.comments && discussion.comments.length > 0) { %>
      <ul class="comments">
        <% discussion.comments.forEach(comment => { %>
        <li><%= comment.body %></li>
        <% }) %>
      </ul>
      <% } %>

      <footer class="row">
        <div class="col text-center">
          <% if (loggedIn) { %>
          <div class="mt-5 text-center">
            <a href="/discussions/new" class="btn btn-primary">Reply</a>
          </div>
          <% } else { %>
          <div class="mt-5 text-center">
            <p>Login to Reply</p>
            <%- include('../_partials/_loginButtons.ejs') %>
          </div>
          <% } %>
        </div>
      </footer>
    </div>
  </div>
</main>
